# Ignore files that must not be commited
.env-*
# IDE
.idea
.vscode

# OS
.DS_Store
desktop.ini

# Language specific
venv
bus_service/__pycache__
bus_service/.vscode
bus_service/__pycache__/
bus_service/src/__pycache__/
bus_service/src/config/__pycache__/
bus_service/src/config/__pycache__